/* materials icon starts here */
/* @font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); 
	src: local("Material Icons"), local("MaterialIcons-Regular"),
		url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
		url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
		url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
} */
.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	display: inline-block;
	/* line-height: 1; */
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}
/* materials icon ends here */
/* header starts here */
header#top {
	padding: 20px 0px;
	position: absolute;
	width: 100%;
}
header#top .header-items-wrapper a.header-list-wrapper .header-icon-wrapper i {
	font-size: 22px;
	margin-top: 10px;
}
.header-items-wrapper a.btn span.txt {
	text-transform: capitalize;
}
/* header#top */
/* header ends here */
/* button starts here */
.hero-form .btn-orange {
	width: 100%;
	background-image: linear-gradient(
		to right,
		#ff8600,
		#ff9300,
		#ffa000,
		#ffad00,
		#ffb900
	);
	color: #ffffff;
	border: none;
	border-radius: 12px;
	padding: 16px 0;
	font-weight: 600;
	font-size: 1rem;
	transition: all 0.3s ease;
	position: relative;
	cursor: pointer;
}
.btn-orange {
	background-image: linear-gradient(
		to right,
		#ff8600,
		#ff9300,
		#ffa000,
		#ffad00,
		#ffb900
	);
	border: none;
	border-radius: 8px;
	padding: 14px 24px;
	font-weight: 500;
	font-size: 1rem;
	transition: all 0.3s ease;
	position: relative;
	cursor: pointer;
}
/* button ends here */
/* banner starts here */
.banner-sec {
	background-image: url("../img/banner-img.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 150px 0px;
}
.banner-sec .banner-form-wrapper label {
	color: #8f8f8f;
	font-size: 16px;
	margin-bottom: 7px;
}
.banner-form-wrapper .form-control {
	height: 41px;
}
.banner-form-heading-wrapper h2 {
	font-size: 32px;
	color: #1e1e1e;
}
.banner-form-wrapper {
	border-radius: 12px;
	box-shadow: -6px 6px 10px 8px #026ec6f0;
}
.gradient-text {
	font-size: 55px !important;
	background: linear-gradient(to right, #026ec6, #65d7ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
}
.banner-sec button.btn.btn-orange span.txt {
	font-size: 19px;
	font-weight: 400;
	text-transform: uppercase;
}
.hero-form button.btn.btn-orange {
	border-radius: 6px;
	box-shadow: 2px 2px 0px 3px #000000;
}
.iti.iti--allow-dropdown.iti--show-flags {
	width: 100%;
}
/* banner ends here */
/* brand starts here */
.brand-sec {
	background-color: #1f1f1f;
	padding: 10px 0px;
}
.brands-slider img {
	height: 60px;
	object-fit: contain;
	margin: 0 auto;
	padding: 10px;
}
/* brand ends here */
/* ai audit starts here */
.ai-audit-sec {
	background-image: url("../img/ai-bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0px;
}
.ai-audit-accordian-wrapper .accordion-item {
	margin-bottom: 10px;
	background-color: transparent;
}
.ai-audit-sec .ai-ring-wrapper {
	position: absolute;
	right: 0%;
}
.ai-audit-accordian-wrapper .accordion-item button {
	border-radius: 10px;
	background-color: #65d7ff;
}
.ai-audit-accordian-wrapper .accordion-item button span.count {
	font-weight: 600;
	font-size: 22px;
	color: #000000;
}
.ai-audit-accordian-wrapper .accordion-item button span.txt {
	color: #000019;
	font-size: 19px;
	font-weight: 500;
	margin-left: 20px;
}
.ai-audit-accordian-wrapper
	.accordion-item:first-of-type
	> .accordion-header
	.accordion-button {
	border-radius: 10px;
}
.ai-audit-accordian-wrapper
	.accordion-item:last-of-type
	> .accordion-header
	.accordion-button.collapsed {
	border-radius: 10px;
}
.ai-audit-accordian-wrapper .accordion-item .accordion-body {
	background: #00000091;
}
.ai-img-wrapper {
	background-image: url("../img/ai-col-bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	padding: 70px 0px;
}
.ai-audit-sec .ai-img-wrapper img#dynamicImage {
	width: 65%;
	transition: opacity 0.3s ease-in-out;
}
/* ai audit ends here */
/* ai-solution-sec starts here*/
.ai-solution-sec {
	background-image: url("../img/ai-sol-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.ai-solition-btn-wrapper a span.txt {
	font-size: 18px;
}
.ai-solition-btn-wrapper a i {
	font-size: 18px;
}
.ai-solition-btn-wrapper a {
	display: inline-flex;
	align-items: center;
	gap: 19px;
	text-transform: capitalize;
}
/* ai-solution-sec ends here*/

/* process-section Css  */

.process-section {
	background-image: url(../img/process-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: right;
}

.process__heading {
	flex: 0 0 40%;
}

.process__desc {
	flex: 0 0 50%;
}
.desc__wrap {
	font-size: 16px;
	color: #4f4f4f;
	font-family: "Anek Latin";
}
.gradient__color {
	background: linear-gradient(
		90deg,
		rgba(42, 123, 155, 1) 0%,
		rgba(2, 110, 198, 1) 0%,
		rgba(161, 230, 255, 1) 100%
	);
	color: transparent;
	background-clip: text;
}
.process__subheading {
	font-size: 24px;
}
.process__main__wrapper {
	padding: 0px 90px;
}
.process__main {
	z-index: 99;
}
.process__wrap {
	flex: 0 0 20%;
}
.process__img {
	height: 210px;
	align-content: center;
	text-align: center;
	justify-content: center;
}

.process__main::before {
	content: "";
	position: absolute;
	background-image: url(../img/union-before.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	background-position: center;
	top: 20px;
	left: 0;
	height: 245px;
	z-index: 99;
}

.process__main::after {
	content: "";
	position: absolute;
	background-image: url(../img/union-after.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	background-position: center;
	top: 20px;
	left: 0;
	height: 245px;
	z-index: 9;
}

.process__content {
	padding-top: 30px;
}

/* process-section Css  */

/* full access starts here */
.full-access-sec {
	padding: 80px 0px;
	background-image: url("../img/accordian-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.full-access-sec .transparent-text-outline {
	font-size: 138px;
	color: transparent;
	-webkit-text-stroke: 1px #65d7ff;
	text-stroke: 1px #65d7ff;
	font-weight: 500;
	font-family: fantasy;
	line-height: 1;
	text-transform: capitalize;
	opacity: 0.57;
}
.full-access-content-wrapper .list-wrapper ul li {
	display: flex;
	align-items: center;
	gap: 10px;
}
.access-card-wrapper {
	background: #fff;
	border-radius: 15px;
	width: 50%;
}
.access-card-wrapper .package-heading-wrapper {
	background-image: linear-gradient(
			to right,
			rgba(2, 110, 198, 0.7),
			rgba(101, 215, 255, 0.7)
		),
		url("/img/package-bg.png"); /* Make sure the path is correct */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 14px 10px;
	text-align: center;
	color: #fff;
	border-radius: 10px 10px 0px 0px;
}

.access-card-wrapper .package-heading-wrapper h5 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 0px;
}
.access-card-wrapper .package-main-heading-wrapper h2 {
	background: linear-gradient(to right, #026ec6, #65d7ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 40px;
	line-height: 1;
}
.access-card-wrapper .package-main-heading-wrapper h2 span.big {
	font-size: 50px;
}
.access-card-wrapper .package-price-wrapper h3 {
	color: #333333;
	font-size: 60px;
	margin: 25px 0px;
}
.package-price-wrapper p {
	color: #5f5f5f;
}
.packge-btns-wrapper a.btn-orange {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	text-transform: capitalize;
}
/* full access ends here */
/* book starts here */
.book-sec {
	padding: 80px 0px;
	background-image: url("../img/Frame 37-1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.book-icon-wrapper .book-single-icon-wrapper .icon-wrapper {
	background: #ffffff4d;
	height: 41px;
	width: 41px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
.book-icon-wrapper .book-single-icon-wrapper .icon-wrapper i {
	font-size: 24px;
}
.book-icon-wrapper .book-single-icon-wrapper .icon-name-wrapper h6 {
	margin-bottom: 0px;
}
/* book ends here */
/* footer starts here */
.footer-sec {
	padding: 100px 0px;
	background-image: url("../img/footer-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.footer-whole-wrapper::before {
	content: "";
	position: absolute;
	background-image: url(../img/footer-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 540px;
	height: 841px;
	bottom: 0;
	left: -8rem;
	z-index: 9;
}
.footer-card-wrapper .footer-heading-wrapper h2.upper-heading-wrapper {
	font-size: 70px;
	line-height: 70px;
}
.footer-card-wrapper .footer-heading-wrapper h2.upper-heading-wrapper::after {
	content: "Fun";
	font-size: 113px;
	color: transparent;
	-webkit-text-stroke: 1px #65d7ff;
	text-stroke: 1px #65d7ff;
	font-weight: 500;
	font-family: fantasy;
	position: absolute;
	text-transform: capitalize;
	margin-top: 16px;
	margin-left: 10px;
}
.footer-card-wrapper .footer-heading-wrapper h2.lower-heading {
	font-size: 73px;
	line-height: 73px;
}
.footer-contact-wrapper ul li a {
	display: flex;
	gap: 10px;
	color: #fff;
}
.footer-contact-wrapper ul li {
	margin-bottom: 10px;
}
.footer-social-wrapper ul li a {
	background: linear-gradient(to right, #026ec6, #65d7ff);
	width: 34px;
	height: 34px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
}
.footer-form-wrapper {
	border: 2px solid #ffffff91;
	border-radius: 20px;
	padding: 24px 24px;
}
.footer-form-wrapper input {
	height: 50px;
	padding: 10px 40px;
}
.footer-form-wrapper input::placeholder {
	color: #000;
}
.footer-form-wrapper select {
	height: 50px;
	padding: 10px 40px;
}
.footer-form-wrapper .form-group button.btn-orange {
	text-transform: capitalize;
	font-weight: 500;
	font-size: 18px;
}
div#copyright {
	background-image: linear-gradient(to right, #026ec6, #65d7ff);
	padding: 20px 0px;
}
.footer-img-wrapper {
	position: absolute;
	top: -28.5%;
	left: -7%;
	transform: scale(0.9);
}
.footer-whole-wrapper {
	position: relative;
}

.footer-img-wrapper figure {
	margin-bottom: 0px;
}
.form-group {
	position: relative;
	margin-bottom: 12px;
}

.icon__span {
	position: absolute;
	top: 0;
	left: 12px;
	height: fit-content;
	margin: auto;
	transform: translateY(10px);
}
.country__input {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#basic-addon1 select {
	padding: 15px;
}

/* footer ends here */

/* Laptop Responsive  */

@media (max-width: 1400px) {
	.access-card-wrapper {
		width: 58%;
	}
}

@media (max-width: 1366px) {
	.footer-whole-wrapper::before {
		width: 430px;
		height: 741px;
		bottom: 0;
	}
	.full-access-sec .transparent-text-outline {
		font-size: 120px;
	}
}

@media (max-width: 1200px) {
	.full-access-sec .transparent-text-outline {
		font-size: 100px;
	}
	.access-card-wrapper {
		width: 70%;
	}
	.access-card-wrapper .package-main-heading-wrapper h2 {
		font-size: 30px;
	}
	.access-card-wrapper .package-main-heading-wrapper h2 span.big {
		font-size: 40px;
	}
	.access-card-wrapper .package-price-wrapper h3 {
		font-size: 55px;
		margin: 20px 0px;
	}
	.gradient-text {
		font-size: 45px !important;
	}
	.footer-card-wrapper .footer-heading-wrapper h2.upper-heading-wrapper {
		font-size: 50px;
		line-height: 60px;
	}
	.footer-card-wrapper .footer-heading-wrapper h2.lower-heading {
		font-size: 53px;
		line-height: 63px;
	}
	.footer-card-wrapper .footer-heading-wrapper h2.upper-heading-wrapper::after {
		font-size: 83px;
		margin-top: 0px;
	}
	.ai-audit-accordian-wrapper .accordion-item button span.txt {
		font-size: 17px;
	}
}

@media (max-width: 1080px) {
	.footer-whole-wrapper::before {
		width: 380px;
		height: 630px;
		bottom: 0;
	}
	.banner-heading-wrapper h1 {
		font-size: 45px;
	}
}

/* Tablet Responsive  */

@media (max-width: 991px) {
	.footer-whole-wrapper::before {
		content: unset;
	}
	.ai-solution-sec {
		padding: 40px 0;
	}
	.ai-sol-img-wrapper {
		margin-top: 30px;
	}
	.process__main__wrapper {
		padding: 0px 0px;
	}
	.process__top__wrapper {
		flex-direction: column;
	}
	.full-access-sec .transparent-text-outline {
		font-size: 89px;
	}
}
@media (max-width: 768px) {
	/* .ai-solution-sec {
		padding: 40px 0;
	}
	.ai-sol-img-wrapper {
		margin-top: 30px;
	}
	.process__main__wrapper {
		padding: 0px 0px;
	}
	.process__top__wrapper {
		flex-direction: column;
	} */
}

/* Mobile Responsive  */
@media (max-width: 576px) {
	.btn-orange {
		padding: 10px 15px;
		font-size: 13px;
	}
	.material-icons {
		font-size: 13px;
	}
	.banner-heading-wrapper h1 {
		font-size: 35px;
	}
	.banner-sec {
		padding: 110px 0px;
	}
	.banner-sec button.btn.btn-orange span.txt {
		font-size: 16px;
	}
	.hero-form .btn-orange {
		padding: 14px 0;
	}
	.ai-audit-sec {
		padding: 60px 0px;
	}
	.process__main {
		flex-direction: column;
	}
	.process__img {
		height: 210px;
		align-items: center;
		text-align: center;
		justify-content: center;
		display: flex;
		border: 4px solid;
		/* border-image: linear-gradient(
				92deg,
				rgba(42, 123, 155, 1) 0%,
				rgba(2, 110, 198, 1) 0%,
				rgba(161, 230, 255, 1) 1%
			)
			1; */
		border-image: linear-gradient(
				to right,
				#ff8600 0%,
				#ff8600 20%,
				#ff9300 20%,
				#ff9300 40%,
				#ffa000 40%,
				#ffa000 60%,
				#ffad00 60%,
				#ffad00 80%,
				#ffb900 80%,
				#ffb900 100%
			)
			1;
	}
	.process__main::before {
		content: unset;
	}
	.process__main::after {
		content: unset;
	}
	.access-card-wrapper {
		width: 100%;
	}
	.book-icon-wrapper {
		flex-direction: column;
		width: fit-content;
		margin: auto;
	}
	.book-sec {
		padding: 40px 0px;
	}
	.book-heading-wrapper h2 {
		font-size: 35px;
	}
	.footer-sec {
		padding: 40px 0px;
	}
	.footer-card-wrapper .footer-heading-wrapper h2.upper-heading-wrapper {
		font-size: 35px;
		line-height: 60px;
	}
	.footer-card-wrapper .footer-heading-wrapper h2.upper-heading-wrapper::after {
		font-size: 30px;
	}
	.footer-card-wrapper .footer-heading-wrapper h2.lower-heading {
		font-size: 40px;
	}
	.footer-form-heading-wrapper h2 {
		font-size: 35px;
	}
	.full-access-sec .transparent-text-outline {
		font-size: 60px;
	}
}
